# Created by venv; see https://docs.python.org/3/library/venv.html
.venv/

.ipynb_checkpoints

#yolo models 
yolov8n.pt
yolov8l.pt
yolov8m.pt
yolov8x.pt

datasets/

tf-env/

# Ignore everything in models/
models/*

# Except specific files
!models/best_eco_sort_waste_pro_model.keras
!models/tflow_model_1.tflite!tflow_model_1.tflite